<!-- Start of a container for displaying comments -->
<div class="comments">
    <!-- Loop through each comment object (assumed to be in the context) -->
    {{#each this}}
    <!-- Start of a card element for an individual comment -->
    <div class="card">
        <!-- Comment header -->
        <h3 class="card-header">Comments</h3>
        <!-- Comment body section -->
        <section class="comment card-body">
            <!-- Display the comment text -->
            <div class="text">
                {{comment_text}}
            </div>
            <!-- Display metadata for the comment -->
            <div class="meta">
                <!-- Display the username of the comment author -->
                -{{user.username}},
                <!-- Format and display the creation date of the comment -->
                {{format_date created_at}}
            </div>
        </section>
    </div>
    <!-- End of the individual comment card -->
    {{/each}}
    <!-- End of the loop through comments -->
</div>
<!-- End of the comments container -->




