<div class="card-body">
  <!-- Start a link to the post edit page with the post's ID -->
  <a href="dashboard/edit/{{id}}">
    <div class="card-header flex-row justify-space-between">
      <!-- Start a flexbox container for the card header -->
      <div class="col-8">Post Title: {{postTitle}}</div>
      <!-- Display the post title -->
      <div class="col-4">posted by
        {{user.username}}
        on
        {{format_date dateCreated}}</div>
      <!-- Display the username of the author and the formatted creation date -->
    </div>
    <!-- Close the flexbox container for the card header -->
  </a>
  <!-- Close the link to the post edit page -->
</div>