<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The tech blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-wrap">
        <header class="display-flex flex-row align-center header">
            <nav class="navigation">
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                {{#if loggedIn}}
                <a href="/" id="logout">logout</a>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>

            <h1 class="app-title">The Tech Blog</h1>
        </header>
        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer class="flex-row justify-center">
&copy; The Tech Blog App was created with ❤️ by  <a href="https://github.com/abdulsamedtma"> Abdul </a>. ✨  Every day is a learning day!  ✨
        </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>











