<div class="form-container">
    <h2>Login</h2> <!-- Display the login form heading. -->

    <form class="form login-form">
        <div class="form-group">
            <label for="username-login">Username:</label> <!-- Label for the username input field. -->
            <input class="form-input" type="text" id="username-login" /> <!-- Username input field. -->
        </div>
        <div class="form-group">
            <label for="password-login">Password:</label> <!-- Label for the password input field. -->
            <input class="form-input" type="password" id="password-login" /> <!-- Password input field. -->
        </div>
        <div class="form-group form-button button-wrap">
            <button class="btn btn-primary" type="submit">login</button> <!-- Login button. -->
        </div>

        <a class="login-link" href="/signup">Sign up instead</a> <!-- Link to the sign-up page. -->
    </form>
</div>

<script src="./js/login.js"></script> <!-- Include the JavaScript file for handling the login functionality. -->
