<div class="form-container">
    <h2>Signup</h2> <!-- Display the signup form heading. -->

    <form class="form signup-form">
        <div class="form-group">
            <label for="name-signup">Username:</label> <!-- Label for the username input field. -->
            <input class="form-input" type="text" id="name-signup" /> <!-- Username input field. -->
        </div>
        <div class="form-group">
            <label for="password-signup">Password:</label> <!-- Label for the password input field. -->
            <input class="form-input" type="password" id="password-signup" /> <!-- Password input field. -->
        </div>
        <div class="form-group button-wrap">
            <button class="btn btn-primary" type="submit">signup</button> <!-- Signup button for form submission. -->
        </div>

        <a class="login-link" href="/login">Login instead</a> <!-- Link to the login page. -->
    </form>
</div>

<script src="/js/signup.js"></script> <!-- Include the JavaScript file for handling the signup functionality. -->
